#define IDR_MENU 10000
#define IDM_ 10001
#define IDM_OPEN 10002
#define IDM_COLOR 10003
#define IDM_ENTER 10004
IDR_MENU MENUEX
BEGIN
  POPUP "File",IDM_
  BEGIN
    MENUITEM "Open",IDM_OPEN
    MENUITEM "New color",IDM_COLOR
    MENUITEM "Enter the symbol",IDM_ENTER
  END
END
