#define IDM_MENU 10000
#define IDM_ADD 10002
#define IDM_DELETE 10003
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Add",IDM_ADD
    MENUITEM "&Delete",IDM_DELETE
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
