body {
    background-color: black;
    position: relative;
}

h1 {
    height: 30px;
    width: 100%;
    font-size: 30px;
    color: darkred;
    margin: 0;
}

h2 {
    font-size: 12px;
    margin-left: 0;
    height: 10px;
    width: 20%;
    color: lightgoldenrodyellow;
}

h3 {
    font-size: 20px;
    margin-left: 0;
    height: 15px;
    width: 40%;
    color: lime;
}
p {
    font-size: 60px;
    margin-left: 0;
    width: 100%;
    height: 100px;
    color: magenta;
}

.message {
    position: relative;
    width: 50%;
    margin: 3px;
    border-radius: 2px;
    padding: 7px;
    border: 1px solid;
}

.message-my {
    background-color: cyan;
    margin-left: 48%;
    font-weight: bold;
}

.message-ego {
    background-color: limegreen;
    font-weight: bold;
}

.edit-delete {
    font-size: small;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.message-removed {
    background-color: saddlebrown;
    font-style: italic;
}

.you-edited {
    background-color: darkturquoise;
    margin-left: 48%;
    font-weight: bold;
}
.ego-edited {
    background-color: lime;
    font-weight: bold;
}

#send-message{
    position: inherit;
    bottom: 0;
    margin-left: 48%;
    margin-bottom: 0;
    width: 82%;
}

#send-button {
    margin-left: 0;
    background-color: darkblue;
    height: 30px;
    right: 29px;
    font-size: larger;
    border-color: darkblue;
}

#send-form {
    height: 50px;
    width: 62%;
    margin-bottom: 0px;
    font-size: larger;
}